body {
  background-color: white;
  color: black;
  border-color: black;
}

.dark-mode {
  background-color: black;
  border-color: white;
  color: white;
}

.header {
  width: 100%;
  text-align: center;
}

.section-header {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 2px black solid
}

.dark-section-header {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 2px white solid
}

.about-me {
  text-align: center;
  font-size: larger;
  margin: 10px
}

.container {
  display: flex;
  justify-content: center;
}

.workplace {
  margin: 0 10px;
}

.image {
  width: 124px;
  height: 130px;
  margin: 10px;
}

.light-navbar {
  height: 20px;
  width: 100%;
  border: 2px black solid;
  display: flex;
}

.dark-navbar {
  height: 20px;
  width: 100%;
  border: 2px white solid;
  display: flex;
}

.light-navbar-item {
  border-left: 1px black solid;
  border-right: 1px black solid;
  width: 20%;
  text-align: center;
}

.dark-navbar-item {
  border-left: 1px white solid;
  border-right: 1px white solid;
  width: 20%;
  text-align: center;
}

#project-select {
  width: 100%;
  text-align: center;
  background-color: inherit;
  color: inherit;
}